<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hacker Quptes</title>
  <link rel="stylesheet" href="projector.css">
</head>
<body>
  <blockquote>
    <%= @quote[:c] %>
  </blockquote>
  <cite>
    <%= @quote[:a] %>
  </cite>
</body>
</html>
